@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

:root {
  --font-poppins: 'Poppins', sans-serif;
  font-family: var(--font-poppins);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.header {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  height: 60px;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.componentsheader {
  font-family: var(--font-poppins);
  font-size: 12;
  align-items: center;
}

.sidebar {
  background-color: #F1F2F7;
  font-size: 11;
  font-family: var(--font-poppins);
  flex-direction: column;
  display: flex;
  align-items: stretch;
  color: #08243180;
  width: 240px;
  height: 100vh;
}

.sidebaralign {
  align-self: center;
}

.sidebarpainel {
  font-size: 12;
  font-family: var(--font-poppins);
  color: #5A6ACF;
  flex-direction: row;
  display: flex;
  align-items: center;
  border-radius: 5;
  width: 200px;
  height: 60px;
  background-color: #707FDD1A;
}

.select-classic {
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #999;
  background-color: #ffffff;
  color: #636363;
  border-radius: 4px;
  width: 220px;
}

.select-filter {
  font-family: var(--font-poppins), Arial;
  font-size: 13px;
  padding: 5px 10px;
  border-top: 2px solid #d6d6d6;
  border-right: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  background-color: #ffffff;
  color: #636363;
  width: 175px;
  height: 50px;
}

.maincurso {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 1080px;
}

.Boxcursopequeno {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.Box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.Box2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.Box3 {
  height: 265px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.Box4 {
  height: 350px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  margin: 10px;
  margin-bottom: 5px;
}

.BoxCurso {
  margin-top: 35px;
  width: 1080px;
}

.shadow-cell {
  box-shadow: var(--shadow-xs);
}

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #000000;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}